<h1>Comments for <%= @recipe.title %></h1>

<p><%= link_to "Back to Recipe", recipe_path(@recipe) %></p>

<% @comments.each do |comment| %>
  <div>
    <h3><%= link_to comment.title, recipe_comment_path(@recipe, comment) %></h3>
    <p><strong>By:</strong> <%= comment.user.name %></p>
  </div>
  <hr>
<% end %>
