<h1>New Task</h1>

<%= form_with model: [@project, @task] do |f| %>
  <p>Title: <%= f.text_field :title %></p>

  <p>Status:
    <%= f.select :status, ["pending", "completed"] %>
  </p>

  <%= f.submit %>
<% end %>